.menuSection {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 9;

	.menuContainer {
		position: relative;
		bottom: 20px;
		display: flex;
		perspective: 500px;
		flex-direction: column;
		align-items: center;

		.menuButton {
			width: 40px;
			height: 40px;
			position: relative;
			top: 10px;
			z-index: 2;

			.top,
			.left,
			.right {
				width: 10px;
				height: 10px;
				background-color: $text-color;
				border-radius: 3px;
				position: absolute;
				transform: rotate(45deg);
			}
			.top {
				top: 8px;
				left: 0;
				right: 0;
				margin: auto;
			}
			.left {
				top: 17px;
				left: 6px;
			}
			.right {
				top: 17px;
				right: 6px;
			}
			.bottom {
				width: 6px;
				height: 6px;
				background-color: greenyellow;
				border-radius: 2px;
				position: absolute;
				transform: rotate(45deg);
				bottom: 8px;
				left: 0;
				right: 0;
				margin: auto;
			}
		}

		.menuWrapper {
			position: relative;

			.selectedBack {
				width: 100px;
				height: 40px;
				background-color: #6fc926bd;
				position: absolute;
				bottom: 1px;
				filter: blur(25px);
			}

			.selectedFront {
				width: 100px;
				height: 3px;
				background-color: #6ec926;
				position: absolute;
				bottom: 1px;
			}

			.icon {
				width: 50px;
				height: 50px;
				background-color: rgba(111, 201, 38, 0.952);
				position: absolute;
				top: 1px;
				margin: auto;
				display: block;
				z-index: -1;
			}

			.menu {
				background-color: rgba(200, 242, 155, 0.05);
				backdrop-filter: blur(20px);

				height: 70px;
				width: 600px;
				-webkit-mask-repeat: no-repeat;
				mask-repeat: no-repeat;
				-webkit-mask-size: 100%;
				mask-size: 100%;
				-webkit-mask-position: center;
				mask-position: center;
				-webkit-mask-image: url(../../Assets/images/mask2.png);
				mask-image: url(../../Assets/images/mask2.png);

				&:after {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					background-image: url(../../Assets/images/dots.png);
					background-size: 65px;
					left: 0;
					opacity: 0.4;
				}

				&:before {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					background-color: rgba(200, 242, 155, 0.2);
					backdrop-filter: blur(25px);
					-webkit-mask-repeat: no-repeat;
					mask-repeat: no-repeat;
					-webkit-mask-size: 100%;
					mask-size: 100%;
					-webkit-mask-position: center;
					mask-position: center;
					-webkit-mask-image: url(../../Assets/images/mask.png);
					mask-image: url(../../Assets/images/mask.png);
				}

				.menuList {
					list-style-type: none;
					display: flex;
					flex-direction: row;
					width: 100%;
					height: 100%;
					position: absolute;
					padding: 0 2rem;
					margin: 0;
					align-items: center;
					z-index: 2;

					li {
						width: 100%;
						height: 100%;
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						align-content: center;
						justify-content: center;
						cursor: pointer;

						a {
							text-decoration: none;
							color: $text-color;
							font-family: $main-font;
							font-weight: 600;
							font-size: 18px;
							transition: color 0.3s;
							transition-delay: 0.2s;
							margin: 0;
							z-index: 1;
						}
						&:hover a {
							color: rgb(193, 211, 197);
						}
					}
				}
			}
		}
	}
}
