.socialContainer {
	width: 100%;

	ul {
		display: flex;
		justify-content: flex-end;
		gap: 0.8vw;
		color: $text-color;
		list-style-type: none;
		padding: 0;
		margin: 0 4vw 0 0;

		li {
			width: 35px;
			height: 35px;
			overflow: hidden;
			border-radius: 5px;

			a {
				text-indent: -9999px;
				width: 100%;
				height: 100%;
				display: block;
				background-position: 50% 47%;
				background-repeat: no-repeat;
			}

			&:first-child {
				a {
					background-image: url(../../../assets/images/icons/tw.png);
				}
			}
			&:nth-child(2) {
				a {
					background-image: url(../../../assets/images/icons/dr.png);
				}
			}
			&:nth-child(3) {
				a {
					background-image: url(../../../assets/images/icons/gh.png);
				}
			}
			// &:nth-child(4){
			//     a{
			//         background-image: url(../../../assets/images/icons/re.png);
			//     }
			// }
			&:nth-child(4) {
				a {
					background-image: url(../../../assets/images/icons/ma.png);
				}
			}
		}
	}
}
