.locationContainer {
	width: 100%;
	display: flex;
	color: $text-color;
	font-family: $main-font;
	font-size: 18px;

	p {
		position: relative;
		margin: 0;
		margin-left: 10%;
		user-select: none;

		&::after {
			content: '';
			position: absolute;
			width: 30px;
			height: 30px;
			background-image: url(../../../assets/images/icons/loc.png);
			background-repeat: no-repeat;
			background-position: center;
			left: -30px;
			top: -3px;
		}

		&:hover span::after {
			opacity: 1;
			animation: shake 0.1s linear;
			-webkit-animation: shake 0.1s linear;
		}

		@keyframes shake {
			0% {
				background-position: 50% 50%;
				filter: drop-shadow(0px 0px 0px rgba(255, 0, 0, 0)) drop-shadow(0px 0px 0px rgba(0, 0, 255, 0));
			}
			25% {
				background-position: 90% 50%;
				filter: drop-shadow(0px 2px 0px rgba(255, 0, 0, 0.7)) drop-shadow(0px -2px 0px rgba(0, 0, 255, 0.7));
			}
			75% {
				background-position: 10% 50%;
				filter: drop-shadow(0px -2px 0px rgba(255, 0, 0, 0.7)) drop-shadow(0px 2px 0px rgba(0, 0, 255, 0.7));
			}
			100% {
				background-position: 50% 50%;
				filter: drop-shadow(0px 0px 0px rgba(255, 0, 0, 0)) drop-shadow(0px 0px 0px rgba(0, 0, 255, 0));
			}
		}

		span {
			color: #afeb70;
			font-weight: 600;
			position: relative;

			&:after {
				content: '';
				opacity: 0;
				position: absolute;
				width: 100px;
				height: 65px;
				background-image: url(../../../assets/images/r-map.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				left: -8px;
				top: -21.5px;
				z-index: -1;
			}
		}
	}
}
